<h1>Formulario de Cadastro</h1>

<from action="/subimt" method="post">
  <label for="id">ID:</label>
  <input type="text" name="id" id="id" required />
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" required/>
  <label for="idade">Nome:</label>
  <input type="text" name="idade" id="idade" required/>
  <button type="submit">Enviar</button> 
</from>